.body {
  font-family: Quicksand, sans-serif;
  color: #141010;
  font-size: 16px;
  line-height: 1.4em;
}

.section-intro {
  position: relative;
  height: 100vh;
  background-image: url("../images/bg-intro.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.container {
  position: relative;
  display: block;
  width: 1450px;
  height: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container-padding {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
}

.intro-content-wrapper {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.intro-wrapper {
  width: 100%;
}

.intro-logo-link {
  width: 320px;
  max-width: 500px;
  margin-bottom: 100px;
}

.intro-logo {
  width: 100%;
}

.intro-main-content {
  max-width: 800px;
  color: #fff;
}

.intro-title {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: 'Crimson Text', sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

.intro-logo-container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph {
  font-family: Quicksand, sans-serif;
  font-weight: 300;
}

.features-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.feature-option {
  width: 33.33%;
  padding: 25px 70px 20px;
  background-color: #ff0a5f;
  text-align: center;
  text-decoration: none;
}

.feature-option.purple {
  background-color: #2c257b;
}

.feature-option.blue {
  background-color: #1b3f67;
}

.feature-icon {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}

.feature-text {
  margin-top: 0px;
  font-family: 'Crimson Text', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
}

.features-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
}

.featurec-wrapper-left {
  width: 55%;
  background-image: url("../images/bg-map.jpg");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 650px;
}

.features-wrapper-right {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-selected {
  position: relative;
  display: none;
}

.feature-selected.active {
  /*display: block;*/
}

.feature-selected-wrapper {
  max-width: 500px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center;
}

.feature-selected-icon {
  width: 90px;
  margin-bottom: 20px;
}

.feature-selected-title {
  display: block;
  max-width: 400px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-family: 'Crimson Text', sans-serif;
  color: #2c257b;
  font-size: 25px;
  line-height: 1.1em;
}

.feature-selected-text {
  font-weight: 700;
}

.feature-title-selected-big {
  display: block;
  font-size: 35px;
  font-weight: 400;
}

.publications-intro-img {
  position: relative;
  height: 400px;
  background-image: url("../images/bg-papers_2.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
}

.publications-intro-text-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.white-box {
  width: 800px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.publications-intro-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -300px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.publications-intro-wrapper-inner {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.publications-intro-title {
  font-family: 'Crimson Text', sans-serif;
  font-size: 70px;
  line-height: 0.7em;
  text-align: center;
}

.publications-intro-title-small {
  display: block;
  font-size: 45px;
}

.publications {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.publications-list {
  display: block;
  width: 25%;
}

.publications-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.publication-item-link {
  overflow: hidden;
  width: 50%;
  height: auto;
  float: left;
  opacity: 0.4;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.publication-item-link:hover {
  opacity: 1;
}

.publication-item-link.enabled {
  opacity: 1;
}

.publication-item-img {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}


.publication-content {
  position: relative;
  height: 180px;
  padding-right: 25px;
  padding-left: 25px;
}

.publication-content-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  display: none;
}

.publication-content-item.lifestyles {
  background-color: #276899;
}

.publication-content-item.portico {
  background-color: #e92c39;
}

.publication-content-item.hoysi {
  background-color: #e9613c;
}

.publication-content-item.nautica {
  background-color: #14354a;
}

.publication-content-item.map {
  background-color: #468299;
}

.publication-content-item.reg {
  background-color: #333232;
}

.publication-link {
  position: relative;
  display: block;
  margin-top: 25px;
  padding: 14px 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.publication-link.gray {
  background-color: #333232;
}

.publication-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  padding: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.publication-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 400;
}

.publication-title-link {
  color: #fff;
  text-decoration: none;
}

.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../images/bg-intro.jpg");
  background-position: 50% 0px;
  background-size: cover;
}

.footer-forms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-form-contact {
  width: 550px;
  max-width: 50%;
  padding-right: 25px;
}

.footer-form-newsletter {
  width: 500px;
  max-width: 50%;
  padding-left: 25px;
}

.footer-form-title {
  margin-bottom: 20px;
  font-family: 'Crimson Text', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 1em;
}

.footer-form-title.right {
  text-align: right;
}

.form-input {
  height: 60px;
  margin-bottom: 15px;
  padding-left: 18px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
}

.form-block {
  margin-bottom: 0px;
}

.form-input-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-flex-separator {
  width: 15px;
}

.form-textarea {
  height: 100px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 18px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
}

.form-footer-submit {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 18px;
}

.form-subscribe-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form-submit-newsletter {
  width: auto;
  height: 60px;
  padding-right: 70px;
  padding-left: 70px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: #fff;
  background-color: transparent;
  font-size: 18px;
}

.footer-info-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-info-separator {
  width: 1px;
  height: 110px;
  margin-right: 25px;
  margin-left: 25px;
  background-color: #fff;
}

.footer-logo {
  width: 300px;
}

.footer-text {
  margin-bottom: 15px;
  color: #fff;
  text-align: center;
}

.footer-text-link {
  color: #fff;
  text-decoration: none;
}

.footer-logo-wrapper {
  width: 270px;
}

.footer-social-wrapper {
  width: 270px;
  text-align: right;
}

.footer-text-2 {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.footer-text-2-light {
  font-weight: 300;
}

.footer-social-item {
  width: 40px;
  margin-left: 25px;
}

.publication-img {
  width: 55%;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
  background-position: 50% 50%;
  background-size: cover;
}

.publication-img.lifestyles {
  background-image: url("../images/publications/img-lifestyles.jpg");
}
.publication-img.reg {
  background-image: url("../images/publications/img-reg.jpg");
}
.publication-img.portico {
  background-image: url("../images/publications/img-portico.jpg");
}
.publication-img.hoysi {
  background-image: url("../images/publications/img-hoysi.jpg");
}
.publication-img.nautica {
  background-image: url("../images/publications/img-nautica.jpg");
}
.publication-img.map {
  background-image: url("../images/publications/img-map.jpg");
}


.publication-data-flex-item {
  text-align: center;
}

html.w-mod-js *[data-ix="intro"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="intro-title"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="intro-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, 40px);
  -ms-transform: translate(0px, 40px);
  transform: translate(0px, 40px);
}

html.w-mod-js *[data-ix="scroll-animation-40"] {
  opacity: 0;
  -webkit-transform: translate(0px, 75px);
  -ms-transform: translate(0px, 75px);
  transform: translate(0px, 75px);
}

html.w-mod-js *[data-ix="scroll-animation-20"] {
  opacity: 0;
  -webkit-transform: translate(0px, 75px);
  -ms-transform: translate(0px, 75px);
  transform: translate(0px, 75px);
}

.w-form-done{
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    color: white;
}

@media (max-width: 991px) {
  .feature-option {
    padding-right: 20px;
    padding-left: 20px;
  }
  .feature-icon {
    width: 40px;
  }
  .feature-text {
    font-size: 18px;
  }
  .features-wrapper {
    min-height: 500px;
  }
  .feature-selected-icon {
    width: 60px;
  }
  .feature-selected-title {
    font-size: 18px;
  }
  .feature-selected-text {
    font-size: 14px;
    line-height: 1.3em;
  }
  .feature-title-selected-big {
    font-size: 22px;
  }
  .publications-intro-wrapper {
    margin-bottom: 140px;
  }
  .publications-intro-wrapper-inner {
    width: 700px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .publications {
    display: block;
    margin-bottom: 50px;
  }
  .publications-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .publication-item-link {
    opacity: 1;
  }
  .footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .footer-forms {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-form-contact {
    max-width: 80%;
    margin-bottom: 50px;
    padding-right: 0px;
  }
  .footer-form-newsletter {
    width: 550px;
    max-width: 80%;
    padding-left: 0px;
  }
  .footer-form-title.right {
    text-align: left;
  }
  .footer-social-item {
    width: 30px;
  }
}

@media (max-width: 767px) {
  .section-intro {
    height: 500px;
  }
  .intro-logo-link {
    width: 250px;
    margin-bottom: 210px;
  }
  .intro-title {
    font-size: 25px;
  }
  .features-options {
    display: none;
  }
  .features-wrapper {
    min-height: 0px;
  }
  .featurec-wrapper-left {
    display: none;
  }
  .features-wrapper-right {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .feature-selected {
    display: block;
    margin-bottom: 80px;
  }
  .publications-intro-img {
    height: 250px;
  }
  .publications-intro-wrapper {
    margin-top: -193px;
    margin-bottom: 59px;
  }
  .publications-intro-wrapper-inner {
    padding-top: 15px;
    padding-bottom: 19px;
  }
  .publications-intro-title {
    font-size: 50px;
  }
  .publications-intro-title-small {
    font-size: 33px;
  }
  .publications {
    margin-bottom: 15px;
  }
  .publications-list {
    /*-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;*/
    display: block;
  }
  .publications-wrapper {
    display: none;
  }
  .publication-item-link {
    width: 33.33%;
    display: inline-block;
  }
  .footer-form-title {
    font-size: 25px;
  }
  .form-input {
    height: 40px;
  }
  .form-footer-submit {
    height: 40px;
  }
  .form-submit-newsletter {
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .footer-info-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-info-separator {
    width: 100%;
    height: 1px;
    margin: 25px 0px;
  }
  .footer-logo {
    margin-bottom: -25px;
  }
  .footer-social-wrapper {
    text-align: center;
  }
  .footer-social-item {
    margin-right: 12.5px;
    margin-left: 12.5px;
  }
}

@media (max-width: 479px) {
  .section-intro {
    height: auto;
  }
  .intro-logo-link {
    margin-bottom: 0px;
  }
  .intro-logo-container {
    position: relative;
    height: 250px;
  }
  .feature-selected {
    margin-bottom: 50px;
  }
  .feature-selected-icon {
    width: 40px;
    margin-bottom: 10px;
  }
  .publications-intro-title {
    font-size: 35px;
  }
  .publications-intro-title-small {
    font-size: 23px;
  }
  .publication-item-link {
    width: 50%;
  }
  .footer-form-contact {
    max-width: 100%;
  }
  .footer-form-newsletter {
    max-width: 100%;
  }
  .footer-text {
    font-size: 15px;
  }
}